.container>div{
background-color: blueviolet;
width: 400px;
margin: 20px;
font-size: 40px;
}
.container{
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
}
.content{
background-color: coral;    
width: 200px;
height: 200px;
margin-bottom: 10px;
display: inline-block;
}
nav{
    font-size: medium;    
    background-color:darksalmon;
    display: inline-block;
    
    }